<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sso.mapper.LoginMapper">
    <select id="login" resultType="com.feign.domain.entity.User">
        select * from user where phone = #{username} and password = #{password}
    </select>
</mapper>